.kasa-collapse {
    width: 100%;
    font-family: 'Montserrat';
    margin-bottom: 31px;
    background-color: #f6f6f6;
}

.collpase-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 47px;
    background-color: #FF6060;
    border: 5px;
    color: #ffffff;
    font-weight: 500;
    padding: 0px 18px;
    border-radius: 5px;
    cursor: pointer; 
}

.collpase-header img { height: 23px; width: 23px;}

.collapse-container {
    color: #FF6060;
    background-color: #f6f6f6;
    font-weight: 400;
    padding: 30px 18px;
    box-sizing: border-box;
    border-radius: 0px 5px 5px 0px ;
    line-height: 25px;
}