@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,400; 2,700&display=swap');

.kasa-error, .error-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
}
.kasa-error { 
    padding: 0px 100px;
    color: #ff6060;
}
.error-msg h1 {
    color: #ff6060;
    font-weight: 700;
    font-size: 288px;
    margin: 0
}

.error-msg span {
    font-weight: 500;
    font-size: 36px;
    text-align: center;
}

.kasa-error a { 
    color: #ff6060;
    margin: 150px 0px 130px 0px;
    font-size: 18px;
}

@media screen and (max-width: 480px) {
    .kasa-error { margin-top: 180px; padding: 0px 20px;}
    .error-msg h1 { font-size: 96px ;}
    .error-msg span { font-size: 18px ; }    
    .kasa-error a { font-size: 14px; margin-top: 100px}
}